repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff lint
    entry: ruff check
    language: system
    files: \\.py$
  - id: ruff-format
    name: ruff format
    entry: ruff format
    language: system
    files: \\.py$